@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer components {
  input {
    border-radius: 0;
  }

  input[type='search'] {
    -webkit-appearance: none;
  }

  input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg viewPort='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='1' y1='11' x2='11' y2='1' stroke='gray' stroke-width='2'/%3e%3cline x1='1' y1='1' x2='11' y2='11' stroke='gray' stroke-width='2'/%3e%3c/svg%3e");
  }

  input:-webkit-autofill::first-line {
    @apply text-base font-sans
  }

  button, input, textarea {
    @apply outline-none focus:outline-none
  }

  label + input {
    margin-top: 0.5rem;
  }

  .form-group {
    @apply w-full
  }

  .form-group:not(:first-child) {
    @apply mt-2
  }

  .input {
    @apply w-full py-2 px-4 rounded-md
    text-gray-700 placeholder-gray-400
    border border-gray-300 focus:border-primary
    focus:ring-1 focus:ring-primary
    shadow-sm transition-colors
  }

  .checkbox {
    @apply rounded border-gray-300
    text-primary shadow-sm
    focus:border-primary focus:border-opacity-50
    focus:ring focus:ring-primary
    focus:ring-offset-0 focus:ring-opacity-25
  }

  .btn {
    @apply py-2 px-4
    border border-gray-300
    flex items-center justify-center
    text-gray-700 hover:bg-gray-200
    font-medium
    transition-colors
    rounded-md
  }

  .btn-primary {
    @apply bg-primary hover:bg-primaryDark text-white border-primary hover:border-primaryDark
  }

  .btn-secondary {
    @apply bg-white hover:bg-gray-200 border-primary text-gray-700
  }

  .btn-error {
    @apply bg-error hover:bg-errorDark border-error text-white hover:border-errorDark
  }

  .btn-success {
    @apply bg-success hover:bg-successDark border-success text-white hover:border-successDark
  }
}

.nav-link:after {
  content: '';
  @apply bg-primary absolute h-0.5 top-full left-0 right-0 opacity-0 transition duration-100
}

.nav-link-active:after {
  @apply opacity-100
}

@variants hover {
  .nav-link-active:after {
    @apply opacity-100
  }
}

.react-autosuggest__container {
  width: 100%;
}
